<%- include('includes/head') %>
<%- include('includes/nav') %>
  <div class="container">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8 my-3">
        <h1 class="display-1 text-center">Contacts</h1>
        <p class="text-center lead">Your contacts are below.</p>
        <div class="responsive-table">
          <table class="table my-3">
            <tr>
              <td>Guilherme</td>
              <td>Francisco</td>
              <td>214894518</td>
              <td>guilhermefrancisco@email.com</td>
            </tr>
          </table>
        </div>

      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
<%- include('includes/footer') %>